
html, body {
    margin: 0;
    padding: 0;
    color: #eeeeee;
    background-color: #ff4390;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.attack-container {
    width: 100%;
    height: 7rem;
    background-color: #111111;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 4em;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin: 3rem 0;
}

.table {
    display: flex;
    justify-content: space-around;
}

.piko-card {
    background-color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 1em #eeeeee;
    margin: 2em 0;
    border-radius: 1em;
    width: 25em;
    height: 40em;
    box-shadow: 0px 0px 20px #333333;
    
}

.piko-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
}

.type-icon {
    width: 3em;
    height: 3em;
}

.piko-img {
    width: 20em;
    height: 15em;
    border: solid .5em #eeeeee;
    border-radius: 1em;
    box-shadow: 0px 0px 20px #eeeeee;
}



.info-text {
    font-family: monospace;
    font-size: 1rem;
}

.piko-name {
    font-family:  impact;
    display: flex;
    color: #eee;
    background-color: #ff4390;
    font-weight: normal;
    font-size: 2em;
    border-radius: .2em;
    align-items: center;
    justify-content: center;
    padding: .2em;
    box-shadow: 0px 0px 20px #e93acc;
    width: 75%;

}

.piko-about {
    background-color: #eeeeee; 
    width: 20rem;
    height: 10rem;
    color: #222222;
    padding: 2px 10px;
    margin: 2px 0;
    font-size: 1.5em; 
    text-align: center;
    border-radius: .5em;
    box-shadow: 0px 0px 20px #e93acc;

}

.piko-category {

    background-color: #4d3afae7; 
    width: 80%;
    color: #eee;
    padding: 2px 10px;
    margin: 2px 0;
    font-size: 1em; 
    text-align: center;
    border: #f2d272 .15em solid;
    box-shadow: 0px 0px 10px #5fa1ec;
    border-radius: .5em;

}

.attack {
    display: inline-flex;
    align-items: center; /* Vertically center items */
    border-radius: .5em;
    overflow: hidden;
    background-color: #eeeeee;
    color: #111;
    height: 2.5em;
    margin: 5px;
    width: 20em;
    box-shadow: 0px 0px 20px #e93acc;
    font-size: 1em;
}

.attack *:not(span) {
    font-size: 1.5em;
}

.attack-label {
    background-color: #ff4390;
    color: black;
    padding: 2px 20px;
    height: 100%;
    width: 3.2em;
    font-size: 1.5em; 
    text-align: center;
    display: flex;
    align-items: center; /* Center the text vertically inside the label */
    justify-content: center; /* Center the text horizontally */
}

.attack div {
    display: flex;
    align-items: center; /* Vertically center the text inside the number div */
}

.piko-weakness {

    background-color: #4d3afae7; 
    width: 80%;
    color: #eee;
    padding: 2px 10px;
    margin: 2px 0;
    font-size: 1em; 
    text-align: center;
    border: #f2d272 .15em solid;
    box-shadow: 0px 0px 10px #5fa1ec;
    border-radius: .5em;

}

.piko-footer {
    width: 100%;
    height: 7rem;
    background-color: #111111;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 4em;
    overflow: hidden;
    padding: .5rem;

}

.piko-footer img {
    height: 6rem;
}



.overlay {
    width: 100%;
    height: 100%;
    background-color: #111111cb;
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.start-game{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.piko-title {
    font-family:  impact;
    display: flex;
    color: #eee;
    background-color: #ff4390;
    font-weight: normal;
    font-size: 5em;
    border-radius: .2em;
    align-items: center;
    justify-content: center;
    padding: .2em;
    box-shadow: 0px 0px 20px #e93acc;
    width: 5em;
    margin-bottom: .5em;

}
.start-button {
    font-family:  impact;
    display: flex;
    color: #111;
    background-color: #eee;
    font-weight: normal;
    font-size: 4em;
    border-radius: .2em;
    align-items: center;
    justify-content: center;
    padding: .2em;
    box-shadow: 0px 0px 20px #eee;
    width: 5em;
    cursor: pointer;
}

.start-button:hover {
    background-color: #111;
    color: #eee;
    box-shadow: 0px 0px 20px #e93acc;
}

.card-select {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.instructions {
    width: 100%;
    height: 7rem;
    background-color: #ff4390;
    color: #111;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 4em;
}

.piko-card-select:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px #eee;

}

.hidden {
    display: none;
}

.strong {
    color: gold;
    text-shadow: 0px 0px 20px #eee;
    

}